@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url('image/bg.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}


.container{
    width: 95%;
    margin: 0 auto;
    padding: 1rem 2rem;
}



/* current info */

.container .current-info{
    display: flex;
    justify-content: center;
}

.data-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.time{
    font-size: 3.5rem;
    font-weight: 100;
}

.time .am-pm{
    font-size: 1.3rem;
    margin-left: .4rem;
}

.date{
    font-size: 1.7rem;
}

/* others */

.current-info .others{
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: #fff;
    opacity: .6;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 0.3rem 0.9rem;
    border: 2px solid #fff;
    margin-top: 1rem;
}

.others .weather-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

/* place container */

.place-container .country{
    font-size: 2.3rem;
    font-weight: 100;
    color: #cccaca;
}

.place-container .time-zone{
    color: #cccaca;
    text-align: right;
}


/* futrue forecast */

.futrue-forecast{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    opacity: .6;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow-x: auto;
}

.weather-forecast{
    display: flex;
    gap: 1rem;
}

.futrue-forecast .today{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #fff;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin: 2rem 0;
}

.today img{
    height: 160px;
}

.today .status{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.day{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #cccaca;
    color: black;
}

.status .day{
    padding: .3rem .4rem;
}

.weather-forecast-item{
    width: 120px;
    border: 2px solid #fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .6rem 0;
}

.weather-forecast-item .day{
    width: 2.8rem;
    padding: .2rem;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    margin: 0 auto;
}

.weather-forecast-item p{
    font-size: .7rem;
    font-weight: bold;
}